# Normalize EOL for all files that Git considers text files.
*.webp filter=lfs diff=lfs merge=lfs -text
/addons/**/* filter=lfs diff=lfs merge=lfs -text
*.gitignore filter=lfs diff=lfs merge=lfs -text
*.md filter=lfs diff=lfs merge=lfs -text
*.tscn filter=lfs diff=lfs merge=lfs -text
*.import filter=lfs diff=lfs merge=lfs -text
*.gd filter=lfs diff=lfs merge=lfs -text
*.svg filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier2d/LICENSE filter=lfs diff=lfs merge=lfs -text
*.txt filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.so filter=lfs diff=lfs merge=lfs -text
*.plist filter=lfs diff=lfs merge=lfs -text
*.ios filter=lfs diff=lfs merge=lfs -text
/addons/godot-rapier2d/bin/libgodot_rapier.macos.framework/_CodeSignature/CodeResources filter=lfs diff=lfs merge=lfs -text
*.dylib filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.tres filter=lfs diff=lfs merge=lfs -text
*.gdextension filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.cfg filter=lfs diff=lfs merge=lfs -text
*.gdshader filter=lfs diff=lfs merge=lfs -text
*.godot filter=lfs diff=lfs merge=lfs -text
*.gdignore filter=lfs diff=lfs merge=lfs -text
*.Node filter=lfs diff=lfs merge=lfs -text
/.godot/editor/favorites filter=lfs diff=lfs merge=lfs -text
/.godot/editor/filesystem_cache8 filter=lfs diff=lfs merge=lfs -text
/.godot/editor/filesystem_update4 filter=lfs diff=lfs merge=lfs -text
/.godot/editor/recent_dirs filter=lfs diff=lfs merge=lfs -text
*.scn filter=lfs diff=lfs merge=lfs -text
*.res filter=lfs diff=lfs merge=lfs -text
/.godot/exported/133200997/file_cache filter=lfs diff=lfs merge=lfs -text
*.ctex filter=lfs diff=lfs merge=lfs -text
*.meta filter=lfs diff=lfs merge=lfs -text
*.md5 filter=lfs diff=lfs merge=lfs -text
*.cache filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
addons/**/* filter=lfs diff=lfs merge=lfs -text
/.godot/imported/tuf.webp-6b2323fe5ffc72b1a407729e63768a8d.ctex filter=lfs diff=lfs merge=lfs -text
/.godot/imported/turf.webp-ccaeefd20bf5c06365ea490bb58a7186.ctex filter=lfs diff=lfs merge=lfs -text
/.godot/imported/umbrella.webp-cee5fc4228bbe153596602a6fc9f42a6.ctex filter=lfs diff=lfs merge=lfs -text
/.godot/shader_cache/SceneShaderGLES3/7a34f405f7c62951116f1daa8a973e01d5242aea2d33915eeb057fcd8ddb3826/0c9689a7dae2d011729a1e2cf29c71ecb4a7e8bb.cache filter=lfs diff=lfs merge=lfs -text
/.godot/shader_cache/SceneShaderGLES3/7a34f405f7c62951116f1daa8a973e01d5242aea2d33915eeb057fcd8ddb3826/6bb7c9a2fd1c4a8fa77cb96555b9b4a720209981.cache filter=lfs diff=lfs merge=lfs -text
/.godot/shader_cache/SceneShaderGLES3/7a34f405f7c62951116f1daa8a973e01d5242aea2d33915eeb057fcd8ddb3826/759922d24d18f6e93947155d0345545f9941ad7c.cache filter=lfs diff=lfs merge=lfs -text
/.godot/shader_cache/SceneShaderGLES3/7a34f405f7c62951116f1daa8a973e01d5242aea2d33915eeb057fcd8ddb3826/77047cd41f429f33ceff24e890e174f5465e755e.cache filter=lfs diff=lfs merge=lfs -text
/.godot/shader_cache/SkyShaderGLES3/f4a64ecf0c6e90e848681da9281c608c0f0a36d9f711e8fc54825be4b384d9fb/851ad615ab5772632d2dd49f5447ff21ea10b2fe.cache filter=lfs diff=lfs merge=lfs -text
